.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.logo {
  width: 10vw;
}

.main-nav {
  width: 10vw;
  display: flex;
  justify-content: space-between;
}

.header-icon {
  color: #6D850F;
  font-size: 32px;
  padding: 10px;
}

.header-icon:hover {
  background-color: #6D850F;
  color: white;
  border-radius: 5px;
}