.employees-main, .employees-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employees-main {
  margin-bottom: 10vh;
}

.filter-section, .display-filter, .search-filter, .table-footer, .pagination-command {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section {
  width: 100%;
}

.display-filter {
  height: 20px;
  width: 150px;

}

.display-filter p, .search-filter label {
  margin: 0;
}

.search-filter label {
  margin-right: 5px;
}

#employee-table {
  border-bottom: 1px solid #111;
  border-collapse: collapse;
  border-spacing: 0;
}

#employee-table th {
  padding: 10px 18px;
}

tr {
  border-bottom: 1px solid #111;
}

tbody {
  background-color: #f9f9f9;
}

.no-data {
  text-align: center;
}

td {
  padding: 8px 10px;
}

.pagination-command p {
  margin: 0;
  padding: 8px 16px;
}

.page-number {
  border: 1px solid #111;
  padding: 10px 15px;
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}



.table-section {
  margin-bottom: 100px;
}

.employees-table {
  width: 100%;
}