.NotFoundPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8vh 6.944vw;
    color: #596F07;
}

.NotFoundPage p:nth-child(1),
.NotFoundPage p:nth-child(2),
.link {
    text-align: center;
}

.NotFoundPage p:nth-child(1) {
    font-size: 20vw;
    margin: 0 0 6.9182389937107vh 0;
    font-weight: bold;
}

.NotFoundPage p:nth-child(2) {
    font-size: 2.5vw;
    margin: 0 0 19.077568134172vh 0;
}

.link {
    font-size: 1.25vw;
    color: #596F07;
    font-weight: bold;
}